
.ex{
    color:rgb(254, 254, 254)!important;
    text-shadow: 3px 3px 4px rgb(108, 99, 99);
}

/* цвет шрифта */
:root{
    --dark-cyanide:#315e6a;
    --swamp-green:rgba(123, 143, 73, 0.858);
    --dark-black:#020407;
}
.lol{
    color:#778899;
}
/* цвет шрифта */

/* структура */
* {
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
/* структура */

/* вся страница */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
/* вся страница */

.home .content{
    max-width: 50rem;
    padding: 10px; /* Поля вокруг текста */
    transition: 1s linear; /* Время изменения */
    border-radius: 10px;
}

.home .content:hover{
    color: #fff;   /* Цвет текста */
    background-color: rgba(81, 30, 0, 0.8);
/* разделы */

section {
    padding:2rem 9%;
    color:#030303;
    background-color: rgb(238, 243, 219);
}
/* разделы */

/* название глав */
.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding: 1rem;
    margin: 2rem 0;
    background:rgba(117, 164, 185, 0.17);
}

.heading span{
    color:var(--swamp-green);
}
/* название глав */


/* кнопки */
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:rgb(222, 208, 166);
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 900;
}

.btn:hover{
    background:var(--swamp-green);
}

.home .content .btn:hover{
    display: inline-block;
    margin-top: 1rem;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 900;
    color: rgba(255,255,255,0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    -webkit-animation: anime 16s linear infinite;
    animation: anime 16s linear infinite;
    opacity: 1;
}

@-webkit-keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
